<h2 class="projects-title">Projects</h2>

<div class="projects-container">
    <mat-card class="project-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Microservices based ASP.NET & Angular Online Auction</mat-card-title>
                <mat-card-subtitle>C# .NET | Angular | RabbitMQ | PostgreSQL | MongoDB |
                    Microservices</mat-card-subtitle>
                <img mat-card-sm-image
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjL0mWMOaV_d2Zj3kTPIWnrUWcmVJuj0bojA&s" />
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small,
                agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="project-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>React Native and Serverless Crypto Exchange</mat-card-title>
                <mat-card-subtitle>React Native | AWS Lambda | DynamoDB | Serverless Framework</mat-card-subtitle>
                <img mat-card-sm-image
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHDHg-qhpCT4izxbL-7hW8i1i3YJfmhwh8QQ&s" />
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <p>
                A cross-platform crypto exchange app built using React Native and AWS services for seamless scalability.
            </p>
        </mat-card-content>
    </mat-card>
</div>