<h2 class="projects-title">Projects</h2>

<div class="projects-container">
    <mat-card class="project-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Live Online Auction</mat-card-title>
                <mat-card-subtitle>C# | ASP.NET | Angular | RabbitMQ | PostgreSQL | MongoDB |
                    Microservices</mat-card-subtitle>
                <img mat-card-sm-image
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjL0mWMOaV_d2Zj3kTPIWnrUWcmVJuj0bojA&s" />
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <p>
                • Developed multiple C# .NET based microservices such as Auction CRUD, Search and IdentityServer
                • Configured C# .NET microservices with various databases such as SQL Server, PostgreSQL, and MongoDB.
                • Deployed RabbitMQ as a message broker and configured it with multiple C#.NET microservices
                • Utilized Entity Framework to interact with databases
                • Implemented pagination in API responses with MongoDB entities, reducing latency by 30%
            </p>
        </mat-card-content>
    </mat-card>
        <mat-card class="project-card" appearance="outlined">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>School Management System</mat-card-title>
                    <mat-card-subtitle>C# | ASP.NET | Angular | Entity Framework | SQL
                        </mat-card-subtitle>
                    <img mat-card-sm-image
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQY01-FexKIY9NqK4dRfnG7VjyXGSL8hozwuQ&s" />
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <p>
                Built a full-stack Student Management System using Angular and ASP.NET Core, enabling secure management of
                over 1200+ student records
                • Developed a C# ASP.NET Core REST API with JWT authentication and role-based authorization, implementing
                password hashing and token validation middleware
                • Integrated Entity Framework Core for interactions with SQL databases to support CRUD operations for students
                • Implemented an Angular frontend with services, interceptors, and AuthGuard to manage authentication flow, route
                protection, and session persistence
                • Developed Angular Material UI components (tables, forms, dialogs) for adding, viewing, and deleting student
                records dynamically
                </p>
            </mat-card-content>
        </mat-card>
    <mat-card class="project-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title> Banking Backend</mat-card-title>
                <mat-card-subtitle>Python | Django | RabbitMQ | Nginx | Redis |
                    Authentication & Scalability</mat-card-subtitle>
                <img mat-card-sm-image
                    src="https://www.mattlayman.com/img/django.png" />
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <p>
                Implemented identity validation logic for secure bank account creation.
                • Configured Celery with RabbitMQ and Redis to offload long-running tasks such as email notifications.
                • Implemented Nginx as a reverse proxy and load balancer.
            </p>
        </mat-card-content>
    </mat-card>

    

    <mat-card class="project-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>React Native and Serverless Crypto Exchange</mat-card-title>
                <mat-card-subtitle>React Native | Cloud Functions | Firebase | AWS</mat-card-subtitle>
                <img mat-card-sm-image
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHDHg-qhpCT4izxbL-7hW8i1i3YJfmhwh8QQ&s" />
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <p>
                A cross-platform crypto exchange app built using React Native, GCP Cloud Functions, and AWS services for seamless scalability.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="project-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Legacy Angular Migration to Angular 9</mat-card-title>
                <mat-card-subtitle>Angular | Azure</mat-card-subtitle>
                <img mat-card-sm-image
                    src="https://colorlib.com/wp/wp-content/uploads/sites/2/angular-logo.png" />
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <p>
                Modernized legacy front-end stack from Angular 4 to 9, improving performance by 30%
                Upgraded and deployed 5 major enterprise apps to the cloud with Microsoft Azure, following CI/CD.
            </p>
        </mat-card-content>
    </mat-card>

        <mat-card class="project-card" appearance="outlined">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title> Yelp Business Search API Integration in Customer Calls</mat-card-title>
                    <mat-card-subtitle> C#| .NET | JavaScript | React | Azure</mat-card-subtitle>
                    <img mat-card-sm-image
                        src="https://blog.yelp.com/wp-content/uploads/2023/01/yelp-logo_768x512.png" />
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <p>
                Developed a web app with C# .NET and React to integrate Yelp API into CRM for real-time customer insights
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card class="project-card" appearance="outlined">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>William and Mary University Machine Learning Research Fellowship</mat-card-title>
                    <mat-card-subtitle>Python | HPC | Jupyter | TensorFlow | Pandas | Keras | NumPy</mat-card-subtitle>
                    <img mat-card-sm-image
                        src="https://www.eduopinions.com/wp-content/uploads/2018/08/CollegeofWilliamandMary-logo.png" />
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Built a machine learning pipeline using Python, TensorFlow, PyTorch, GCP, and ResNet50 to analyze road
                    conditions from satellite images, improving road quality classification accuracy by 25%—contributing to a $300k
                    funded research initiative in cyber-physical systems.
                </p>
            </mat-card-content>
        </mat-card>
            <mat-card class="project-card" appearance="outlined">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>VCU Health Machine Learning Assisted Tumor Detection</mat-card-title>
                        <mat-card-subtitle>Python | HPC | Jupyter | TensorFlow | Pandas | Keras | NumPy</mat-card-subtitle>
                        <img mat-card-sm-image
                            src="https://news.vcu.edu/image/0ee57d13-cb5b-4a91-b6ae-578a746c6908" />
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    <p>
                    Engineered a machine learning method using Python, Linux, Google Colab, and Keras, automating tumor
                    classification in medical images, accelerating diagnosis and reducing physicians’ workload by up to 2 weeks
                    • Implemented data preprocessing using Py-WSI for large WSIs, converting them into patches for CNN analysis;
                    achieved a 93.5% accuracy rate in tumor detection across 9 test patients.
                    </p>
                </mat-card-content>
            </mat-card>
</div>