<div class="home-container">
        <app-avatar></app-avatar>
        <app-header></app-header>
        <section class="github-section">
            <div class="github-card" onclick="window.open('https://github.com/dev-mshah', '_blank')">
                <img src="1.jpeg" alt="Avatar" class="github-avatar" />
                <div class="github-info">
                    <p class="github-handle">&#64;dev-mshah</p>
                    <button class="github-button">View GitHub</button>
                </div>
            </div>
        </section>


    <h1 class="home-header">Expertise</h1>
    <p class="text-center">My Tech Stack & Technologies</p>
    <section class="projects-section">
        <div class="tech-grid">
            <div class="logo-container">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Microsoft_.NET_logo.svg/1200px-Microsoft_.NET_logo.svg.png"
                    alt=".NET Logo" class="logo-img" />
                <h2>.NET</h2>
            </div>
            <div class="logo-container">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/C_Sharp_Logo_2023.svg/1200px-C_Sharp_Logo_2023.svg.png"
                    alt="Redis Logo" class="logo-img" />
                <h2>C#</h2>
            </div>

            <div class="logo-container">
                <img src="https://js.devexpress.com/Content/Images/Frameworks/Angular.png" alt="Angular Logo"
                    class="logo-img" />
                <h2>Angular</h2>
            </div>

            <div class="logo-container">
                <img src="https://download.logo.wine/logo/Microsoft_Azure/Microsoft_Azure-Logo.wine.png"
                    alt="Azure Logo" class="logo-img" />
                <h2>Azure</h2>
            </div>

            <div class="logo-container">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Python.svg/1200px-Python.svg.png"
                    alt="Jenkins Logo" class="logo-img" />
                <h2>Python</h2>
            </div>

            <div class="logo-container">
                <img src="https://www.ibm.com/adobe/dynamicmedia/deliver/dm-aid--f385b240-1636-41a3-97a6-a0a6fbc58352/azure-sql-server-monitoring.png?preferwebp=true&quality=90"
                    alt="Kafka Logo" class="logo-img" />
                <h2>SQL</h2>
            </div>

        
        </div>

        <app-projects></app-projects>

        <app-leetcode-table></app-leetcode-table>

        
    </section>
</div>